.wp-block-button {
  a {
    font-size: 18px;
    line-height: 27px;
    transition: all 0.3s;
    padding: 8px 15px;

    &:hover {
      text-decoration: none;
    }

    &.has-primary-color.has-secondary-background-color {
      &:hover {
        background: $primary;
        color: $white !important;
      }
    }

    &.has-primary-color.has-white-background-color {
      &:hover {
        background: $secondary;
        color: $white !important;
      }
    }
  }

  &.w-100 {
    a {
      width: 100%;
    }
  }

  &.is-style-inactive {
    a {
      font-weight: 500;
      cursor: default;

      &.has-primary-color {
        &:hover {
          color: $primary;
        }
      }
    }

    &.has-extra-large-font-size {
      a {
        font-size: 40px !important;
        line-height: 48px;
        padding: 40px 60px;
      }
    }

    &.text-start {
      text-align: start;
    }
  }

  &.is-style-simple-link {
    margin-right: 35px;

    a {
      font-size: 14px;
      line-height: 17px;
      color: $white;
      padding: 0;
      background: none;
      border-radius: 0;

      &:hover {
        text-decoration: underline;
        color: $white;
      }
    }
  }

  &.is-style-short {
    a {
      width: 350px;
      padding: 15px 5px;
    }
  }

  &.is-style-medium {
    a {
      width: 450px;
      padding: 15px 10px;
    }
  }

  &.is-style-wide {
    a {
      width: 550px;
      padding: 12px;
    }
  }
}

@include media-breakpoint-between(lg, xl) {
  .wp-block-button {
    &.is-style-short {
      a {
        width: 320px;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .wp-block-button {
    a {
      font-size: 20px;
      line-height: 1.1;
    }

    &.is-style-short {
      a {
        width: 285px;
      }
    }

    &.is-style-medium {
      a {
        width: 250px;
      }
    }

    &.is-style-wide {
      a {
        width: 330px;
      }
    }

    &.is-style-inactive {
      a {
        font-weight: 600;
      }

      &.has-extra-large-font-size {
        a {
          font-size: 28px !important;
          line-height: 38px;
          padding: 25px 40px;
          margin-bottom: 40px;
        }
      }
    }
  }
}

@include media-breakpoint-between(sm, md) {
  .wp-block-button {
    &.is-style-short {
      a {
        width: 250px;
      }
    }
  }
}