.wp-block-columns {
  &:last-child {
    margin-bottom: 0;
  }

  &.with-stretched {
    position: relative;

    .wp-block-button__link {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }

  &.is-style-steps {
    border-radius: 15px;
    overflow: hidden;

    .wp-block-column {
      h5:first-child {
        padding: 20px;
        overflow: hidden;
        position: relative;

        &::before {
          content: "";
          width: 70px;
          height: 70px;
          display: block;
          border: 2px solid #fff;
          border-radius: 8px;
          transform: rotate(45deg);
          position: absolute;
          top: 0;
          left: -45px;
        }
      }

      & > .wp-block-group {
        padding: 0 30px;
        margin-top: 40px;
        border-left: 2px solid $primary;
        height: 80%;

        .wp-block-group__inner-container {
          height: 100%;
        }
      }

      &:first-child {
        h5:first-child {
          &::before {
            display: none;
          }
        }

        & > .wp-block-group {
          border-left: 2px solid transparent;
        }
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .wp-block-columns {
    .wp-block-column {
      &.mobile-border-bottom {
        &::after {
          margin-left: calc(var(--bs-gutter-x, 0.75rem) * -1);
          margin-right: calc(var(--bs-gutter-x, 0.75rem) * -1);
          content: "";
          display: block;
          height: 2px;
          background: #f3f5f7;
          margin-top: 75px;
          margin-bottom: 75px;
        }
      }
    }

    &.images-with-descr {
      .wp-block-columns {
        gap: 0;
      }

      .wp-block-image {
        margin-bottom: 0;

        img,
        svg {
          height: 160px !important;
        }
      }

      p {
        text-align: center !important;
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: 600px) and (max-width: 781px) {
  .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column:not(:only-child) {
    flex-basis: 100%!important;
    margin-left: 0;
  }
}
