.wp-block-pullquote {
  padding: 50px 0;

  blockquote {
    margin-bottom: 0;
    max-width: var(--main-width);
    margin-left: auto;
    margin-right: auto;

    p {
      font-size: 42px;
      line-height: 1.3;
      margin-bottom: 0;
    }
  }

  &.is-style-with-lines {
    position: relative;

    &::before {
      content: ' ';
      height: 8px;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      right: calc((100vw - var(--main-width)) / 2);
      background: $primary;
      border-radius: 0 10px 10px 0;
    }

    &::after {
      content: ' ';
      height: 8px;
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      left: calc((100vw - var(--main-width)) / 2);
      background: $primary-light;
      border-radius: 10px 0 0 10px;
    }

    &.animate {
      transition: color 0.6s ease-in-out;

      &:not(.action) {
        color: $white !important;
      }

      &::before {
        right: 100vw;
        transition: all 1.5s ease-in-out;
      }

      &::after {
        left: 100vw;
        transition: all 1.5s ease-in-out;
      }

      &.action {
        &::before {
          right: calc((100vw - var(--main-width)) / 2);
        }

        &::after {
          left: calc((100vw - var(--main-width)) / 2);
        }
      }
    }
  }
}

.is-root-container {
  .wp-block-pullquote {
    &.is-style-with-lines {
      &.animate {
        &:not(.action) {
          color: inherit !important;
        }
      }
    }
  }
}

@include media-breakpoint-down(xl) {
  .wp-block-pullquote {
    padding: 35px var(--bs-gutter-x, 0.75rem);
    text-align: left;
    margin-bottom: 0;

    blockquote {
      p {
        font-size: 32px;
        line-height: 1.4;
      }
    }

    &.is-style-with-lines {
      &.animate {
        &.action {
          &::before {
            right: 30vw;
          }

          &::after {
            left: 30vw;
          }
        }
      }
    }
  }
}