.wp-block-search {
  button {
    &[type=submit] {
      background: transparent;
      border: none;
    }
  }

  &.wp-block-search__button-inside {
    .wp-block-search__inside-wrapper {
      border: none;
      border-radius: 50px;
      background-color: $white;
      max-width: 200px;

      input {
        &[type=search] {
          padding: 4px 20px;
          font-size: 14px;
          line-height: 17px;
          color: $primary;
          background-color: transparent;
          font-weight: 500;

          &:focus {
            & + button {
              &[type=submit] {
                opacity: 1;
              }
            }
          }
        }
      }

      button {
        &[type=submit] {
          margin-left: 10px;
          opacity: 0;
          transition: all 0.3s;
          background: url($search-icon) center no-repeat;
          background-size: contain;

          &:focus {
            opacity: 1;
          }
        }
      }
    }
  }
}

.searchform {
  display: flex;
  flex-direction: row-reverse;

  button {
    border: none;
    background: transparent;
    transition: all 0.3s;
  }

  input {
    width: 0;
    max-width: 650px;
    opacity: 0;
    transition: opacity 0.3s;
    border: none;
    border-bottom: 2px solid $black;
    padding: 0;
  }

  .close {
    display: none;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 38px;
    line-height: 48px;
    margin-left: -22px;
    z-index: 1;
  }

  &.active {
    input {
      width: 650px;
      opacity: 1;
      padding: 10px 50px 10px 10px;
    }

    .close {
      display: block;
      opacity: 1;
    }
  }
}

@include media-breakpoint-down(md) {
  .wp-block-search {
    &.wp-block-search__button-inside {
      .wp-block-search__inside-wrapper {
        max-width: 104px;

        input {
          &[type=search] {
            padding: 2px 4px;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
          }
        }
      }
    }
  }
}
