footer {
  background: #F0F2F7;
  padding: 52px 0 0;

  * {
    font-size: 18px;
  }

  .footer-logo {
    display: inline-block;

    img,
    svg {
      max-height: 95px;
      max-width: 100%;
      display: block;
      width: auto;
      height: 95px;
    }
  }

  .widget_nav_menu {
    ul.menu {
      padding: 0;
      column-count: 2;

      li {
        padding: 0;
        list-style: none;
        margin-bottom: 15px;

        a {
          color: $black;
          font-weight: 400;
          text-transform: uppercase;

          &:hover {
            color: $primary;
            text-decoration: none;
          }
        }
      }
    }
  }

  .cf7-footer-form {
    h5 {
      color: $primary;
      font-size: 24px;
      margin-bottom: var(--margin-bottom-20);
    }

    input[type=text],
    input[type=email],
    input[type=tel] {
      border: 1px solid $gray;
      border-radius: 5px;
      margin-bottom: var(--margin-bottom-20);
      font-size: 18px;
      line-height: 1.11;
      width: 400px;
      max-width: 90%;
      min-width: inherit;
    }

    input[type=submit] {
      margin-bottom: var(--margin-bottom-45);
      font-size: 18px;
      line-height: 1.11;
      width: 400px;
      max-width: 90%;
      min-width: inherit;
    }
  }

  .nav-footer {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    li {
      margin: 0 12px;
      line-height: 22px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      a {
        color: $gray;
        font-size: 18px;
        font-weight: 500;

        &:hover {
          color: $primary;
          text-decoration: none;
        }
      }
    }
  }

  .wp-block-button.is-style-simple-link {
    margin-right: 24px;
    line-height: 1;

    a {
      color: $gray;
      font-size: 18px;
      font-weight: 500;

      &:hover {
        color: $primary;
        text-decoration: none;
      }
    }
  }

  .footer-widets {
    margin-top: 52px;
    padding: 40px 0;
  }

  .widget_text {
    p {
      color: $white;
      font-size: 18px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      color: $white;
      text-decoration: none;

      &:hover {
        color: $white;
        text-decoration: underline;
      }
    }
  }

  .copyright {
    .footer-copyright {
      font-size: 18px;
      text-align: right;
      color: $white;

      p {
        margin-bottom: 0;
      }
    }
  }
}

#back-to-top {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 100px;
  right: -300px;
  z-index: 2;
  padding: 10px 20px;
  background: $white;
  border-radius: 50px 0 0 50px;
  //background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 23%, rgba(255,255,255,1) 100%);
  transition: all 0.5s ease-in-out;

  span {
    text-transform: uppercase;
    color: $black;
    font-weight: 700;
  }

  svg {
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }

  &.show {
    right: 0;
  }
}

#choice-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: $primary;

  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  display: none;

  &.show {
    display: flex;
    opacity: 1;
  }

  &.hide {
    opacity: 0;
  }

  .inner {
    max-width: 850px;
    background: #fff;
    padding: 50px 70px;
    border-radius: 15px;

    h2 {
      text-align: center;
      color: $primary;
    }

    p {
      text-align: center;
      font-weight: 500;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        display: block;
        text-align: center;
        background: $primary;
        border-radius: 50px;
        color: $white;
        font-size: 18px;
        font-weight: 500;
        transition: all 0.3s ease-in-out;
        max-width: 330px;
        width: 100%;
        padding: 20px 15px;
        line-height: 1.2;
        cursor: pointer;

        &:hover {
          background: $secondary;
          text-decoration: none;
        }
      }
    }
  }
}

@media (min-width: 1400px) and (max-width: 1585px) {
  footer {
    background-position: 120% 50%;
  }
}

@include media-breakpoint-between(xl, xxl) {
  footer {
    background-position: 130% 50%;
  }
}

@include media-breakpoint-down(xl) {
  footer {
    background: #f3f5f7;
  }
}

@include media-breakpoint-down(xl) {
  footer {
    padding: 30px 0 0;

    .footer-logo {
      img,
      svg {
        height: 122px;
        max-height: 122px;
      }
    }

    .widget_nav_menu {
      ul.menu {
        li {
          padding: 0;
        }
      }
    }

    .nav-footer {
      justify-content: center;
      flex-direction: column;

      li {
        margin: 0 0 30px;
        width: 100%;
        text-align: center;

        a {
          font-size: 22px;
        }
      }
    }

    .under-menu {
      .widget {
        .wp-block-group:first-child {
          flex-direction: column;
        }
      }
    }

    .wp-block-button.is-style-simple-link {
      margin: 0 0 30px;
      line-height: 1;
      width: 100%;
      text-align: center;

      a {
        color: $gray;
        font-size: 20px;
        font-weight: 500;

        &:hover {
          color: $primary;
          text-decoration: none;
        }
      }
    }

    .footer-widets {
      .widget {
        text-align: center;

        p {
          text-align: center;
        }

        .has-smaller-font-size {
          font-size: 20px;
        }
      }
    }

    .copyright {
      .footer-copyright {
        text-align: center;
        font-size: 14px;
      }
    }
  }

  #choice-popup {
    .inner {
      width: 90%;
      padding: 40px 20px;

      .buttons {
        flex-direction: column;
        gap: 30px;

        a {
          font-size: 19px;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  footer {
    .wpcf7-form {

      input[type=submit] {
        display: block;
      }
    }

    .widget_nav_menu {
      ul.menu {
        column-count: 1;
        li {
          padding: 0;
        }
      }
    }
  }
}
