.accordion {
  max-width: 1120px;
  margin: 0 auto;

  .accordion-item {
    border: none;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    .accordion-button {
      border-radius: 10px;
      font-weight: 700;
      font-size: 24px;
      gap: 30px;

      &:focus {
        box-shadow: none;
      }
    }

    .accordion-body {
      border: 1px solid #A7A7A7;
      border-top: 0;
      border-radius: 0 0 10px 10px;
      margin: 0 15px;
      background: $white;

      p {
        font-weight: 500;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.faq {
  &.secondary {
    .accordion-item {
      background: transparent;
    }

    .accordion-button {
      background-color: $secondary;
      color: $black;

      &::after {
        background-image: $accordion-button-icon-white;
      }

      &:not(.collapsed):after {
        background-image: $accordion-button-active-icon-white;
      }
    }
  }
}

@include media-breakpoint-down(xl) {
  .faq {
    margin-left: -30px;
    margin-right: -30px;

    .accordion {
      .accordion-item {
        margin-bottom: 5px;

        .accordion-body {
          border-radius: 0;
          padding: 30px 15px;
          border: none;
        }
      }

      .accordion-button {
        border-radius: 0 !important;
        font-size: 24px;
        font-weight: 700;
        padding: 15px 30px;
      }
    }
  }
}


