html,
body {
  margin: 0;
  overflow-x: hidden;
  font-size: 22px;
  line-height: 1.5;
  position: relative;

  &.menu-show {
    height: 100vh;
    overflow: hidden;
  }
}

.container-fluid-with-padding {
  @extend .container-fluid;

  width: auto;
  margin-left: var(--container-fluid-margin);
  margin-right: var(--container-fluid-margin);
}

#main-content {
  font-weight: 500;
}

h1,
.h1 {
  font-size: 60px;
  line-height: 1.29;
  margin: 50px 0 60px;
}

h2,
.h2 {
  font-size: 36px;
  line-height: 1.28;
  margin-bottom: 35px;
  font-weight: 700;
}

h3,
.h3 {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 25px;
}

h4,
.h4 {
  font-size: 26px;
  line-height: 1.15;
  margin-bottom: 25px;

  &.has-bigger-font-size {
    font-size: 28px;
  }
}

h5,
.h5 {
  font-size: 22px;
  line-height: 1;

  &.has-bigger-font-size {
    font-size: 24px;
    line-height: 1.33;
  }
}

h6,
.h6 {
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
}

.has-small-font-size {
  font-size: 18px;
}

.has-smaller-font-size {
  font-size: 20px;
}

.has-regular-font-size {
  font-size: 22px;
}

.has-bigger-font-size {
  font-size: 24px;
}

.has-large-font-size {
  font-size: 34px;
}

::marker {
  color: $secondary;
}

.wp-block-separator {
  border-bottom: 0;
}

/* Custom global styles */
.mb-18 {
  margin-bottom: var(--margin-bottom-18) !important;
}

.mb-45 {
  margin-bottom: var(--margin-bottom-45) !important;
}

.mb-65 {
  margin-bottom: var(--margin-bottom-65) !important;
}

.my-125 {
  margin-top: var(--margin-side-125);
  margin-bottom: var(--margin-side-125);
}

.py-125 {
  padding-top: var(--margin-side-125) !important;
  /*padding-bottom: var(--margin-side-125) !important;*/
  padding-bottom: 0 !important;
}

.mw-90pc {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.mw-890px {
  max-width: 890px;
  margin-left: auto;
  margin-right: auto;
}

/* Transitions */
a,
.hov-trans {
  transition: color ease-in-out 0.2s;

  svg * {
    transition: color, fill, stroke ease-in-out 0.2s;
  }
}

.readmore-hidden {
  .readmore-but {
    display: none;
  }
}

.lines-v {
  position: relative;
  padding-left: 45px;

  &::before {
    content: ' ';
    width: 18px;
    height: 120px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='124' viewBox='0 0 19 124'%3E%3Cg id='Double_Lines_2' data-name='Double Lines 2' transform='translate(2 2)'%3E%3Cline id='Line_362' data-name='Line 362' x1='90' transform='translate(15 30) rotate(90)' fill='none' stroke='%23a3b7da' stroke-linecap='round' stroke-width='4'/%3E%3Cline id='Line_363' data-name='Line 363' x1='90' transform='rotate(90)' fill='none' stroke='%237f9ac6' stroke-linecap='round' stroke-width='4'/%3E%3C/g%3E%3C/svg%3E");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 10px;
  }

  &.padding {
    &::before {
      content: '';
    }
  }
}

@include media-breakpoint-down(lg) {
  html,
  body {
    font-size: 20px;
    line-height: 1.6;
  }

  h1,
  .h1 {
    font-size: 50px;
    line-height: 1.1;
  }

  h2,
  .h2 {
    font-size: 26px;
    line-height: 1.23;
    margin-bottom: 35px;
  }

  h3,
  .h3,
  h3.has-bigger-font-size {
    font-size: 23px;
    line-height: 1.39;
  }

  h4,
  .h4 {
    font-size: 17px;
    line-height: 1.17;
  }

  h5,
  .h5 {
    font-size: 16px;
    line-height: 1.625;
  }

  .has-small-font-size {
    font-size: 18px;
  }

  .has-smaller-font-size {
    font-size: 20px;
  }

  .has-regular-font-size {
    font-size: 22px;
  }

  .has-bigger-font-size {
    font-size: 24px;
  }

  .has-large-font-size {
    font-size: 34px;
  }

  .is-style-align-left-mobile {
    text-align: left;
  }

  p {
    a {
      white-space: nowrap;
    }
  }

  .readmore-hidden {
    height: 100px;
    overflow: hidden;

    .readmore-but {
      display: block;
      color: $primary;
      position: absolute;
      bottom: 0px;
      background: #fff;
      width: 100%;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    &.opened {
      height: auto;
      overflow: hidden;
      padding-bottom: 32px;
    }
  }
}
