/**
 * WordPress Generated Classes
 * @see http://codex.wordpress.org/CSS#WordPress_Generated_Classes
 */

/** Media alignment */
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}

.aligncenter {
  display: block;
  margin: ($spacer / 2) auto;
  height: auto;
}

.alignleft,
.alignright {
  margin-bottom: ($spacer / 2);
  height: auto;
}

.alignwide {
  margin-left: calc(25% - 25vw);
  margin-right: calc(25% - 25vw);
  max-width: 100vw;
}

.alignfull {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  max-width: 100vw;
  width: 100vw;

  & > .wp-block-cover__inner-container,
  & > .wp-block-group__inner-container {
    @extend .container;
  }
}

.container-fluid-with-padding {
  .alignfull {
    margin-left: calc((var(--container-fluid-margin) + var(--bs-gutter-x, 0.75rem)) * -1);
    margin-right: calc((var(--container-fluid-margin) + var(--bs-gutter-x, 0.75rem)) * -1);

    .wp-block-cover__inner-container,
    .wp-block-group__inner-container {
      @extend .container-fluid-with-padding;

      max-width: 100%;
    }
  }
}

// Colors
.has-primary-color {
  color: $primary !important;
}

.has-primary-light-color {
  color: $primary-light !important;
}

.has-secondary-color {
  color: $secondary !important;
}

.has-blue-color {
  color: $blue;
}

.has-blue-light-color {
  color: $blue-light;
}

.has-yellow-color {
  color: $yellow;
}

.has-gray-color {
  color: $gray;
}

.has-black-color {
  color: $black !important;
}

.has-white-color {
  color: $white !important;
}

.has-primary-background-color {
  background-color: $primary;
}

.has-primary-light-background-color {
  background-color: $primary-light;
}

.has-secondary-background-color {
  background-color: $secondary;
}

.has-blue-background-color {
  background-color: $blue;
}

.has-blue-light-background-color {
  background-color: $blue-light;
}

.has-yellow-background-color {
  background-color: $yellow;
}

.has-gray-background-color {
  background-color: $gray;
}

.has-black-background-color {
  background-color: $black;
}

.has-white-background-color {
  background-color: $white;
}

/** Captions */
.wp-caption {
  @extend .figure;
}

.wp-caption img {
  @extend .figure-img;
  @extend .img-fluid;
}

.wp-caption-text {
  @extend .figure-caption;
}

/** Text meant only for screen readers */
.screen-reader-text {
  @extend .visually-hidden;
  @extend .visually-hidden-focusable;
}

@include media-breakpoint-down(xl) {
  .alignwide {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@include media-breakpoint-up(sm) {
  .alignleft {
    float: left;
    margin-right: ($spacer / 2);
  }

  .alignright {
    float: right;
    margin-left: ($spacer / 2);
  }
}
