@import "common/font";

/** Overrides variables of Bootstrap */
@import "common/bootstrap_overrides";

/** Import everything from autoload */
@import "./autoload/**/*";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
// @import "~some-node-module";

/** Import theme styles */
@import "common/variables";
@import "~tiny-slider/src/tiny-slider";
@import "common/mixins";
@import "common/global";
@import "common/wp-grid";
@import "common/wp-classes";
@import "common/animations";
@import "components/buttons";
@import "components/share-buttons";
@import "components/tabs";
@import "components/accordion";
@import "components/comments";
@import "components/forms";
@import "components/pagination";
@import "components/blocks/search";
@import "components/blocks/paragraph";
@import "components/blocks/heading";
@import "components/blocks/button";
@import "components/blocks/media-text";
@import "components/blocks/block-group";
@import "components/blocks/image";
@import "components/blocks/columns";
@import "components/blocks/cover";
@import "components/blocks/list";
@import "components/blocks/spacer";
@import "components/blocks/pullquote";
@import "components/modules/query-content";
@import "components/modules/testimonials-slider";
@import "components/modules/tweets-slider";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/category";
@import "layouts/tinymce";
